<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/messenger.css') }}">
  
  <title>{% block page_title %} Messenger - Eray C. {% endblock %}</title>
  {% block page_css %}
  
  {% endblock %} 
</head>

<body>

  {% block page_body %}

  {% endblock %}
  
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/messenger.js') }}"></script>  
</html>